@use "../../styles/colors";


.root {

  display:flex !important;

}



.grid {
  display: flex !important;
  justify-content:start !important;
  align-items: center;
  padding-left: 0 !important;

}


