$primary_main: #7441f3;
$primary_main_contrast: #5c2fcf;
$secondary_main: #e150a6;
$secondary_main_contrast: #c33c8c;
$secondary_main_translucent: rgba(116, 65, 243, 0.07);
$warning_main: #ffc120;
$info_main: #21f396;
$success_main: #1bde51;
$error_main: #ff4b2f;
$background_default: #0c0c14;
$background_paper: #181828;
$text_primary: #ffffff;
$text_secondary: #e1e1fc;
$text_disabled: #8d8da8;
$text_hint: #e1e1fc;
$highlight: #eb675c;
