@use "../../styles/colors";

.header-wrapper{
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 77px;
}


.header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background-color: colors.$text_primary;
  box-shadow:  0px 5px 50px rgba(0, 0, 0, 0.15) !important;
  border-radius: 15px;
  width: 74vw;
  
}

.left {
  display: flex;
}

.right {
  display: flex;
}