@use "../../styles/colors";

.modal-wrapper {
  position: relative;
}

.grid-wrapper {
  padding: 30px 0px;
  height: 400px;
  overflow-y: scroll;
  width: 400px;
}

.grid-wrapper::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(colors.$primary_main, 0.1);
}

.grid-wrapper::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: colors.$primary_main;
  border-radius: 15px;
}
