@use "../../styles/colors";

.register-form {
  display: flex !important;
  flex-direction: column;
  padding: 15px 10px;
  width: 350px;
  text-align: center;
}

.input-field {
  height: 50px;
  padding: 5px 15px !important;
  margin-bottom: 15px !important;
  background-color: colors.$background_light;

  *::before,
  *::after {
    border: none !important;
  }

  input {
    height: 30px;
    line-height: 1rem;
  }
}

.button {
  border-radius: 25px !important;
}
